html {
  scroll-behavior: smooth;
}
body {
background-color: white;
}
.offcanvas-link{
  text-decoration: none;
  color: black;
  font-size: 25px;
}
.offcanvas-link:hover {
  color:#7D1700;
}
/* .create-section {
  margin-top: 150px;
  margin-bottom: 150px;
  height: 25vh;
}

.edit-section {
  height: 25vh;
  margin-top: 150px;
  margin-bottom: 150px;
}
.index-section {
  height: fit-content;
  margin-bottom: 150px;
  margin-top: 150px;
} */
.game-cards{
height: 300px;
object-fit: contain;
background-color: white;
}

.card-img{
  height: 50%;
  width: 100%;  
  object-fit:contain;
  background-color: black;
} 

.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #ffffff;
  text-align: left;
  padding: 8px;
}

th {
  background-color: rgb(17, 21, 25);
  color: white;
}

td {
  border: 1px solid black;
  color: black;
}

/* form {
  display: flex;
  gap: 5px;
} */

/* form td:last-child {
  display: flex;
  justify-content: space-evenly;
} */

 /* form * {
  font-size: 28px;
}  */

.table-image {
height: 150px;
width: 125px;
object-fit: contain;
}
