html {
  scroll-behavior: smooth;
}

.create-section {
  margin-top: 150px;
  margin-bottom: 150px;
  height: 25vh;
}

.edit-section {
  height: 25vh;
  margin-top: 150px;
  margin-bottom: 150px;
}
.index-section {
  height: fit-content;
  margin-bottom: 150px;
  margin-top: 150px;
}
.game-cards{
height: 300px;
object-fit: contain;
}
.card-img{
  height: 50%;
  width: 100%;
object-fit:contain;

} 