html {
scroll-behavior: smooth;
}

body {
background-color: #390D02;
color: white;
box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
0.3em 0.3em 1em rgba(0, 0, 0, 0.3)
}

.mb-3{
color: #390D02;
background-color: white;
box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
0.3em 0.3em 1em rgba(0, 0, 0, 0.3)
}

.navbarhome{
color:#390D02;
}

.hamhamham:hover {
color: #520120;
border-color: #520120;
background-color: #DBDAD9;
}

.offcanvas-link{
text-decoration: none;
color: black;
font-size: 25px;
}

.offcanvas-header{
box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.05), 0 0 0 2px rgb(255, 255, 255),
0.3em 0.3em 1em rgba(0, 0, 0, 0.1)

}
.offcanvas-body {
color: black;
}
.offcanvas-body:hover{
color: #5C1A17; 
}
.game-cards{
height: 100%;
object-fit: contain;
background-color: white;
color: #390D02 ;
padding: 20px;
box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.2), 0 0 0 2px rgb(255, 255, 255),
  0.3em 0.3em 1em rgba(0, 0, 0, 0.2)
}
.card-img{
height:175px;
object-fit:contain;
box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
0.3em 0.3em 1em rgba(0, 0, 0, 0.1)
} 
/* .container {
display: flex;
flex-direction: column;
gap: 10px;
padding: 1rem;
} */

table {
border: solid black;
}

th,
td {
border: 1px solid black;
text-align: left;
padding: 8px;
}

th {
background-color: rgb(17, 21, 25);
color: Black;
}

td {
border: 1px solid black;
color: black;
}

.table-image {
height: 100%;
width: 125px;
object-fit: contain;
}

.edit-form {
width: 100%;
background-color: white;
}

.add-section  {
margin-top: 50px;
background-color: white;
color: white;
}

.add-h1 {
color: white;
}
